html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
}

table{
    width: 100%;
}

table, td, th{
    border: 1px solid rgb(221, 221, 221);
}

tr:nth-child(odd){
   background: rgb(241, 241, 241);
}

tr:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

blockquote{
    border-left: 2px solid rgb(221,221,221) ;
    padding: 20px;
    font-style: italic;
}

blockquote p:last-child{
    text-align: right;
}